<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">



<div >
<h1 style ="display:inline">Favourite</h1>
<span class="nm"></span>
</div>

<div class="ui stackable four column centered grid">

<div class="column" *ngFor="let item of data">
<div>
    <youtube-player
videoId= {{item}}
suggestedQuality="highres"
[height]="200"
[width]="170"
[startSeconds]="2"
[endSeconds]="150">
</youtube-player>

</div>
<button (click) =  handleRemoveWishList(item) (click) =  reloadCurrentPage()>Remove</button>
</div>
</div>













  
<ng-container *ngIf= " data.length==0">
  <div class="abc">
  <div   class="ui stackable four column centered grid">
  
  
    <i class="bi bi-heart fa-10x"></i>
  </div>

  <div class="ui stackable four column centered grid">
  <span class="label label-danger">No favourite added</span>
</div>

</div>
  


  </ng-container>
